@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body{
    background-color: rgb(211, 240, 211);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(7, 64, 7);
}

h1#principal{
    text-align: center;
    background-color:  rgb(7, 64, 7);
    color: white;
}

h2{
    color: rgb(4, 191, 4);
}

.basico{
    color: green;
    font-weight: bold;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}

.destaque{
    background-color: rgba(255, 255, 0, 0.397);
}