@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(90deg, #5D366B, #AD00EB);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f6daffaa;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #c96fe8;
    text-align: center;
    text-shadow: 1px 1px 2px #9428b898;
}

h2{

}

p{
    text-align: justify;
}

